version: "3.8"

services:
  server:
    container_name: server
    build:
      context: .
      dockerfile: Dockerfile
    command: poetry run uvicorn src.app:app --host 0.0.0.0 --port 8001
    env_file:
      - .env
    restart: always
    ports:
      - "8001:8001"
